body {
  background: rgb(82, 82, 82);
}

.container {
   width: 550px; 
   margin: 120px auto;
   
}

.container form {
    display: flex;
    background: rgb(243, 24, 24);
    padding: 20px;

    flex-direction: column;
    
}

.container button {
    margin-top: 25px;
}

td,
th {
  padding: 20px;
  border: 5px solid black;
}
